# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

# Unity generated folders
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log

# Blender
*.blend1
*.blend1.meta

# Unity memory captures & recordings
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# JetBrains Rider
/Assets/Plugins/Editor/JetBrains*
*.DotSettings.user
.idea/

# Visual Studio
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity-generated meta and crash files
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# Unity package & build outputs
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics
crashlytics-build.properties

# Unity TestRunner
InitTestScene*.unity*

# Addressables
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Unity Visual Scripting
/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto-generated scenes from tests
/Assets/InitTestScene*.unity*

# ====== Custom Ignores ======

# Ignore Resources folders you want excluded from git
#Resources/
#99. Resources/